/* #Typography
================================================== */
@font-face {
    font-family: robotolight;
    src:
        url("https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-light-webfont.ttf");
}

h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: robotolight, Helvetica, Arial, sans-serif;
    margin-top: 5px;
}

.bs-docs-masthead, .bs-docs-header {
    color: #C1C9D4;
}

cite {
    font-style: italic;
}

.title {
    color: #428bca;
}

h3.title {
    color: #428bca;
}

h1.page-header {
    color: #28567D;
}

body {
    font-family: robotolight, Helvetica, Arial, sans-serif;
}

.bold {
    color: #28567D;
    font-weight: bold;
}

/* Layout -----------------------------------
*/

/* .vertical-centered-container {

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    

}

*/



.intro img{
    max-height: 150px;
}
.vertical-centered-container {
    display: table;
    height: 100px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-centered {
    display: table-cell;
    vertical-align: middle;

}

.doc .intro {
    height: 200px;
}

img.schema {
    display: inline-block;
}

.intro .illustration {
    width: 400px;
    height: 225px;
    border-radius: 110px 0px 0px 110px;
}

/* #Resume
--------------------------*/
.doc .main-container {
    font-family: robotolight, Helvetica, Arial, sans-serif;
    position: relative;
    top: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px;
}

.doc .split-background {
    position: absolute;
    background-color: #428BCA;
    width: 100%;
    height: 570px;
    z-index: -1;
    background-image: url(../images/header-bckg.png);
    background-repeat: no-repeat;
    background-position-y: -65px;
}

.doc .point {
    border: 2px solid #428BCA;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    position: absolute;
    right: -5px;
}

.row .portrait-holder {
    text-align: right;
}

.row img.portrait {
    height: 175px;
}

.resume .qr-code {
    height: 145px;
    margin-top: 15px;
    position: absolute;
    top: 0px;
    left: 325px;
}

.resume div.resume-line {
    margin-bottom: 40px;
}

.skills {
    /*position: relative;
left: 100%;
margin-left: 50px;*/
    color: green;
}

.skills .title {
    color: green;
    font-weight: bold;
}

/* Page Headings
-------------------------------------------------- */
em.subtitle {
    display: block;
    font-size: 0.4em;
    margin-top: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px !important;
    position: static;
}

#footer {
    position: absolute;
    z-index: -1;
    width: 100%;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

#footer div.container {
    margin: 65px auto auto auto;
}

.footer-placehoder {
    height: 40px;
}

/*
Table
-------------------------*/
table.justify {
    text-align: justify;
}

table tr td.numerical {
    text-align: center;
}

table {
    margin-bottom: 30px;
}

.zebra {
    border: 1px solid #eee;
}

.zebra td, .zebra th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
}

.zebra th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    border: 1px solid #ccc;
    background-color: #ddd;
    font-weight: bold;
}

.zebra th:first-child {
    -moz-border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}

.zebra th:last-child {
    -moz-border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.zebra th:only-child {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra .center {
    text-align: center;
}

.zebra .th {
    font-weight: bold;
    background-color: #ddd;
}

/*
Graph
------------------------------------------*/
/* #Graphics
======================================================*/
.graph {
    border: 1px solid #DDD;
    text-align: center;
}

.graph .graph-title {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

svg {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: inherit !important;
}

/*
Code highlight
---------------------------------------------*/
.bs-callout code {
    background-color: inherit;
    color: inherit;
}

/*
Slides
----------------------------------------------*/
.slide div.side-by-side {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

div.img-container {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 80%;
    position: static;
    padding: 0;
}

div.wider-img-container {
    text-align: center;
    display: inline-block;
    width: 120%;
    height: 80%;
    position: static;
    padding: 0;
    margin-left: -10%;
}

.slide pre code {
    font-family: inherit;
    line-height: 1.1em;
    padding: 3px 8px;
    font-size: 1.1em;
}

.slide pre {
    margin-bottom: 20px;
}

.slide li * {
    text-indent: 0;
}

.slide ul {
    margin-left: 25px;
    margin-bottom: 10px;
}

.slide code {
    font-family: Consolas, serif;
    font-size: 0.8em;
}

img.wide {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.counter h1.page-header {
    counter-increment: section;
    counter-reset: subsection;
}

.counter h1.page-header:before {
    content: counter(section) " - ";
}

.counter h3.title {
    counter-increment: subsection;
}

.counter h3.title:before {
    content: counter(section) "." counter(subsection) " - ";
}

ul.nav li {
    counter-increment: navsection;
}

ul.nav li ul li {
    counter-increment: navsubsection;
}

ul.nav li a:before {
    content: counter(navsection) " - ";
}

ul.nav li ul li a:before {
    content: counter(navsection) "." counter(navsubsection) " - ";
}

/* #cheat sheets
----------------------------------------------*/

/*thanks to RNB for that trick*/
.cheat {
    background-color: #28567D;
    column-count: 3;
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
}

.cheatRoot, .cheatRoot body {
    background-color: #28567D;
}

.cheat .sheet {
    background-color: #FFFFFF;
    border-radius: 2px;
}

.cheat .wide {

}

.cheat .sheetfilter {
    background-color: #FF7918;
    border-radius: 2px;
    display: inline-block;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cheat .sheetfilter .filterinput {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
}

.sheet h2 {
    margin-left: 3px;
}

.sheet .graph {
    border: none;
}

.cheat div.sheet {
    display: inline-block;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cheat div.sheet pre {
    border-right: none;
    border-left: none;
    border-radius: 0;
}

.cheat div.sheet .bookmark {
    color: blue;
    font-size: 12px;
    font-family: sans-serif;
    float: right;
    margin-right: 30px;
}

.cheat div.sheet p {
    padding: 0 5px;
}

/* #Intro
------------------------------*/
.intro .content {
    height: 100%;
    border: medium none;
    background-color: white;
    font-size: 16px;
}

.intro .presentation {
    background-color: white;
    height: 100%;
}

.intro {
    border: 1px solid #428BCA;
    margin-top: 10px;
    background: transparent repeat scroll 0% 50%;
    border-radius: 2px;
}

/* Media queries
-------------------------------------*/

/* Mobile */
@media only screen and (max-width: 767px) {
    header h1 {
        font-size: 34px;
        line-height: 37px;
    }
    nav {
        position: relative;
        float: none;
    }
    #logo {
        text-align: left;
    }
    #examples .four.columns {
        padding-top: 30px;
    }
    footer {
        margin-top: 0;
    }
    html, body, .page {
        height: auto;
    }
    .cheat {
        column-count: 1;
        -moz-column-count: 1; /* Firefox */
        -webkit-column-count: 1; /* Safari and Chrome */
    }
    .qr-code {
        display: none;
    }
    .resume .row .portrait-holder {
        text-align: center;
    }
    .doc {
        border: none;
    }
    .split-background {
        display: none;
    }
    .doc .main-container {
        top: 0;
        border: none;
    }
    .row.intro {
        background: none;
        height: auto !important;
    }
    .vertical-centered {
        transform: none;
    }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    nav {
        position: relative;
        float: none;
    }
    body .container {
        border: none;
        box-shadow: none;
        padding-left: 5px;
        padding-right: 5px;
    }
    .cheat {
        column-count: 1;
        -moz-column-count: 1; /* Firefox */
        -webkit-column-count: 1; /* Safari and Chrome */
    }
    .row.intro {
        background: none;
        height: auto !important;
    }
    .vertical-centered {
        transform: none;
    }
}

/* Non 960 */
@media only screen and (max-width: 959px) {
    #logo {
        font-size: 21px;
        margin-bottom: 15px;
    }
    nav .button {
        padding: 9px 20px 11px;
    }
}

/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    nav {
        width: 124px;
    }
}

/* iPad Portrait/Browser */
@media only screen and (max-width: 1366px) {
    nav {
        width: 124px;
    }
    .cheat {
        column-count: 2;
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
    }
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {
    body .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .cheat {
        column-count: 1;
        -moz-column-count: 1; /* Firefox */
        -webkit-column-count: 1; /* Safari and Chrome */
    }
    .cheat .sheet {
        width: 90%;
    }
    .row.intro {
        background: none;
        height: auto !important;
    }
    .vertical-centered {
        transform: none;
    }


}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .row.intro {
        background: none;
        height: auto !important;
    }
    .vertical-centered {
        transform: none;
    }
}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 990px) {
    .row.intro {
        background: none;
        height: auto !important;
        padding: 15px;
        text-align: center;
    }

    .row .presentation,
    .row .content{
        margin-left: auto;
        margin-right: auto;
    }
    .vertical-centered {
        transform: none;
    }


    .content img{
        margin: 10px 0;
    }
}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 959px) and
(max-device-width: 1000px) {
}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px)
{
}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and
(max-device-width: 1000px) {
}

/* Anything smaller than standard 960 on a device */
@media only screen and (max-width: 959px) and (max-device-width: 1000px)
{
    .resize {
        display: none;
    }
}

@media print {
    #footer {
        position: static;
        border: none;
    }
    .main-container {
        position: static;
    }
    .resume .row .portrait-holder {
        margin-top: 20px;
        text-align: center;
        display: none;
    }
    .resume .qr-code {
        top: 0;
        margin-top: 0px;
        margin-right: 5px;
        right: 0;
        left: auto;
    }
}