div.img-container {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 80%;
    position: static;
    padding: 0;
}

div.wider-img-container {
    text-align: center;
    display: inline-block;
    width: 120%;
    height: 80%;
    position: static;
    padding: 0;
    margin-left: -10%;
}

img.wide {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.slide pre code {
    font-family: inherit;
    line-height: 1.1em;
    padding: 3px 8px;
    font-size: 1.1em;
}

.slide pre {
    margin-bottom: 20px;
}

.slide li * {
    text-indent: 0;
}

.slide ul {
    margin-left: 25px;
}

.slide code {
    font-family: Consolas, serif;
    font-size: 0.8em;
}